{% extends 'MyBase.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}Login{% endblock %}
{% block head_message_content %}请登录{% endblock %}

{% block page_content %}
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissable">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">&times</button>
    </div>
{% endfor %}
    <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        {{ wtf.quick_form(form) }}
    </div>
    </div>
{% endblock %}